#fond{
    -fx-background-image: url("Vue/Interface/acceuil/fond.png");
    -fx-background-size: contain;
}

#titre{
    -fx-background-color: black;
    -fx-opacity: 0.9;
    -fx-background-radius: 10px;
    -fx-font-size: 16px;
    -fx-text-fill: white;
}

.vbox{
    -fx-background-color: #464646;
    -fx-background-radius: 20px;

}

.image{
    -fx-opacity: 1;
}

.textVbox{
    -fx-text-fill: white;
    -fx-font-family: 'pokemon dppt';
    -fx-font-size: 16px;
}

.boutonStyle{
        -fx-background-color: linear-gradient(#ff5400, #be1d00);
        -fx-background-radius: 30;
        -fx-background-insets: 0;
        -fx-text-fill: white;
        -fx-font-size: 12px;
}
.boutonStyle:hover{
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}