#fondTitre {
    -fx-background-image: url("Vue/Interface/acceuil/fond.png");
    -fx-background-size: contain;
}

#titrePrincipal {
    -fx-font-family: 'pokemon dppt';
    -fx-font-size: 40px;
    -fx-text-fill: white;
    -fx-effect: dropshadow(three-pass-box, black, 4, 0.8, 2, 2);
}

.boutonJouer {
    -fx-background-color: linear-gradient(#ff5400, #be1d00);
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: white;
    -fx-font-family: 'pokemon dppt';
    -fx-font-size: 20px;
    -fx-padding: 15 60 15 60;
    -fx-cursor: hand;
}

.boutonJouer:hover {
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(three-pass-box, #ff5400, 10, 0.5, 0, 0);
}

#credits {
    -fx-text-fill: white;
    -fx-font-size: 11px;
    -fx-opacity: 0.5;
}
